.myProjectsSection {
  padding: 40px 20px;
  background-image: linear-gradient(
    to right,
    rgba(33, 33, 33, 0.74),
    rgba(25, 52, 87, 0.557)
  );
  color: #fff;
  margin: 20px;
}

.sectionTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columnTitle {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.projectCard {
  background-image: linear-gradient(
    to right,
    rgba(88, 45, 14, 0.74),
    rgba(25, 52, 87, 0.557)
  );
  border: 1px solid #68350e;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectButton {
  background-image: linear-gradient(
    to right,
    rgba(88, 45, 14, 0.74),
    rgba(25, 52, 87, 0.557)
  );
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.projectButton:hover {
  background-color: #0056b3;
}

.loadMoreButton {
  align-self: center;
  background-image: linear-gradient(
    to right,
    rgba(100, 98, 97, 0.74),
    rgba(127, 68, 24, 0.79)
  );
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-image: linear-gradient(
    to right,
    rgba(100, 98, 97, 0.74),
    rgba(127, 68, 24, 0.79)
  );
}

@media (max-width: 768px) {
  .projectsContainer {
    grid-template-columns: 1fr;
  }
}
